
<h1>Olá, Dev!</h1>

<p>Projeto Angular</p>

<br>
<hr>
<br>

<app-componente1></app-componente1>

<br>
<hr>
<br>

<app-componente2></app-componente2>

<br>
<hr>
<br>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
